.hero {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('/pics/KZ_mountains.webp') no-repeat center center;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 5px black;
}
/*Form*/
.form-inline {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap; /* allows wrapping on small screens */
  margin-top: 20px;
}

.form-inline input {
  padding: 8px;
  font-size: 14px;
}

.form-inline label {
  margin-right: 5px;
}

.form-inline button {
  padding: 8px 16px;
}

h2 {
  font-family: Arial, sans-serif;
}

.carousel slides {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel img {
  max-width: auto;
  height: auto;
}
/* Footer */